*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
}
.wrap_header{
    height: 90px;
    display: flex;
    justify-content: space-between;
    background: #353535;
}
.open_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open_wrap{
    height: 100%;
    border-right: 2px solid #EDEDED;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.open_wrap_btn {
    background: none;
    border: none;
    border-right: 2px;
    padding-right: 20px;
    cursor: pointer;
}
.logo_wrap{
    padding-left: 50px;
}
.wrap_social{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 120px;
}
.link_social{
    text-decoration: none;
}
.wrap_number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:5px;
}
.link_number {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 6px;
}
.text_number {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
}
.main_bg{
    background-image: url('/assets/img/bg/main_banner.png');
    height: calc(100vh - 90px);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
    position: relative;
    display: flex;
    align-items: center;
}
.wrap_main_title {
    background: rgba(68, 68, 68, 0.5);
    padding: 12px 10px 12px 40px;
    max-width: 600px;
    margin-bottom: 152px;
}
.main_title {
    font-weight: 800;
    font-size: 64px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.category_wrap{
    position: absolute;
    left: 120px;
    bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 382px;
}
.link_category{
    display: block;
    background: #212121;
    padding: 11px 15px;
    transition: 0.3s;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.link_category:hover{
    background: #FEDA00;
    color: #000000;
}
.nav_wrap{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    background: #ffffff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
.nav_wrap.active{
    left: 0%;
}
.wrap_btn_close {

}
.btn_close {
    background: none;
    border: none;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}
.nav_list {
    list-style-type: none;
}
.nav_list a {
    text-decoration: none;
}
.nav_li {
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: 700;
    color: #212121;
    text-align: center;
    margin-bottom: 40px;
}
.nav_li:hover{
    color: #E9CB19
}
